<h1>All Entries</h1>

<% if policy(Entry.new).create? %>
	<%= link_to "New Entry", new_topic_entry_path, class: 'btn btn-success' %>
<% end %>

<% @entries.each do |entry| %>
	<div class="media">
		<div class="media-body">
			<h4 class="media-heading">
				<%= link_to entry.title, entry %>
			</h4>
			<small>
			submitted <%= time_ago_in_words(entry.created_at) %> ago by
			<%= entry.user.name %> <br>
			<%= entry.comments.count %> Comments
			</small>
		</div>
	</div>
<% end %>

