<h1><%= @topic.name %></h1>

<% if policy(@topic).update? %>
	<%= link_to "Edit topic", edit_topic_path, class: 'btn btn-success' %>
<% end %>

<p class="lead"><%= @topic.description %></p>

<% @entries.each do |entry| %>
	<div class="media">
		<div class="media-body">
			<h4 class="media-heading">
				<%= link_to (markdown_to_html entry.title), [@topic, entry] %>
			</h4>
			<small>
				submitted <%= time_ago_in_words(entry.created_at) %> ago by
				<%= entry.user.name %> <br>
				<%= entry.comments.count %> Comments
			</small>

			<small>
				<%= image_tag(entry.user.avatar.tiny.url) if entry.user.avatar? %>
				submitted <%= time_ago_in_words(entry.created_at) %> ago by
				<%= entry.user.name %><br>
				<%= entry.comments.count %> Comments
	    </small>
		</div>
	</div>
<% end %>

<% if policy(Entry.new).create? %>
	<%= link_to "New Entry", new_topic_entry_path(@topic), class: 'btn btn-success' %>
<% end %>

