
<ul id="login-dp" class="dropdown-menu">
  <li>
    <div class="row">
      <div class="col-md-12">
        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">

        <%= form_for(resource, as: resource_name, url: login_path) do |f| %>
          <% devise_error_messages! %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Enter email" %>
          </div>

          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
          </div>

          <div class="form-group">
          <% if devise_mapping.rememberable? %>
            <%= f.label :remember_me, class: 'checkbox' do %>
              <%= f.check_box :remember_me %> Remember me
            <% end %>
          <% end %>
          <%= f.submit "Sign in", class: 'btn btn-success' %>
          </div>

          <div class="form-group">
            <%= render "devise/shared/links" %>
          </div>
        <% end %>

      </form>
     </div>
    </div>
  </li>
</ul>