<section id="auth-form-container">

<h2>Sign in</h2>
<span class="divider">
    <h4 class="text">Or</h4>
  </span>

  <div class="user-signin">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <% devise_error_messages! %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Enter email" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
  </div>

  <div class="form-group">
  <%= f.submit "Sign in", class: 'btn btn-success' %>
  </div>

  <ul class="signup-forgot">
  <div class="form-group">
    <%= render "devise/shared/links" %>
  </div>
  </ul>
<% end %>

</div>
</section>


